################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Debug
/.vs/CPPEffective/v16/ipch/AutoPCH/ba736cfbc125c9a8
/.vs/CPPEffective/v16
/CPPEffective_Part1/Debug/CPPEffec.bc6c82bc.tlog
/CPPEffective_Part1/Debug
/CPPEffective_Part1/CPPEffective_Part1.vcxproj.user
/CPPEffective_Part1/CPPEffective_Part1.vcxproj.filters
